.pageContent {
    background-color: white;
}

.sectionTitle {
    color: #ffa200;
    font-weight: bold;
    margin-bottom: 50px;
}

.lineSeparator {
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.mainContent {
    border-style: solid;
    max-width: 95%;
}

.bandItem {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}



#dashboardAccordion .accordion-group {
    margin-top: 50px;
}

.accordion-inner {
    max-width: 80%;
    margin-left: 50px;
}

/*NOTIFICATIONS*/
.unreadNotification {
    background-color: #bdbd95;
}

.readNotification {
    background-color: #d7d7bf;
}



