.pageContent {
    background-color: white;
}

.sectionTitle {
    color: #ffa200;
    font-weight: bold;
    margin-bottom: 50px;
}

.lineSeparator {
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.mainContent {
    border-style: solid;
    max-width: 95%;
}

.bandItem {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}



#dashboardAccordion .accordion-group {
    margin-top: 50px;
}

.accordion-inner {
    max-width: 80%;
    margin-left: 50px;
}

/*NOTIFICATIONS*/
.notificationRow {
    margin-top: 30px;
}

.unreadNotification {
    background-color: #dfdfd7;
}

.readNotification {
    background-color: #f1f1ed;
}

.notificationDescription {
    font-size: 11px;
    color: black;
    font-weight: bold;
}

.senderName {
    text-decoration: underline;
}

/*Following two classes are used into resource bundle [dashbord.notifications.band-invitation.description]*/
.senderName {
    text-decoration: underline;
}

.notificationSubject {
    text-decoration: underline;
}



