.pageContent {
    background-color: white;
}

.editClubContainer {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: black;
    height: auto;
}

.saveClubLink {
    margin-bottom: 50px;
}

.clubStatus {
    font-size: 11px;
    color: red;
}